langchain
python-dotenv
langchain_community
pypdf
bs4
wikipedia
ipykernel
langchain-text-splitters
langchain-openai
sentence_transformers
langchain_huggingface
chromadb
faiss-cpu
langchain_chroma
streamlit
langchain_groq
fastapi
uvicorn
langserve
sse_starlette
arxiv
wikipedia
validators
youtube_transcript_api
pytube
unstructured

